#{if left != null && right != null}
#{form @TeamBuilder.score()}
<table>
	<tr>
		<th>Name</th>
		<th>Games Played</th>
		<th>Imbaness</th>
		<th>Score</th>
	</tr>
	#{list items:left, as:'player'}
		<tr>
			<td>${player.name}</td>
			<td>${player.gameCount()}</td>
			<td>${player.imbaness().round()}%</td>
			<td><input name="score[${player.id}]" /></td>
		</tr>
	#{/list}
</table>

<table>
	<tr>
		<th>Name</th>
		<th>Games Played</th>
		<th>Imbaness</th>
		<th>Score</th>
	</tr>
	#{list right, as:'player'}
		<tr>
			<td>${player.name}</td>
			<td>${player.gameCount()}</td>
			<td>${player.imbaness().round()}%</td>
			<td><input name="score[${player.id}]" /></td>
		</tr>
	#{/list}
</table>
<input type="submit" />
#{/form}
#{/if}

#{form @TeamBuilder.build()}
	<select name="ids" size="${players.size()}" multiple>
		#{list items:players, as:'player'}
			<option value="${player.id}">${player.name}</option>
		#{/list}
	</select>
	<input type="submit" />
#{/form}