#{extends 'main.html' /}
#{set title:'Home' /}
#{if players.size() == 0}
	<span class="info">There are no players yet.</span>
#{/if}#{else}
	<table>
	<tr>
		<th>Name</th>
		<th>Games Played</th>
		<th>Imbaness</th>
	</tr>
	#{list items:players, as:'player'}
		<tr>
			<td>${player.name}</td>
			<td class="right">${player.gameCount()}</td>
			<td class="right">${player.imbaness().round()}%</td>
		</tr>
	#{/list}
	</table>
#{/else}
#{form @Application.newPlayer()}
New player: <input name="name" /><input type="submit" />
#{/form}